---
import Text from "@exdst-sitecore-content-sdk/astro/components/Text.astro";
import Link from "@exdst-sitecore-content-sdk/astro/components/Link.astro";
import { useSitecore } from "@exdst-sitecore-content-sdk/astro/context";
import type { ComponentProps } from "@/lib/component-props";
import type { Field } from "@exdst-sitecore-content-sdk/astro";

interface Item {
  url: {
    path: string;
    siteName: string;
  };
  field: {
    jsonValue: {
      value: string;
    };
  };
}

interface TitleProps extends ComponentProps {
  fields: {
    data?: {
      datasource?: Item;
      contextItem?: Item;
    };
  };
}

const { params, fields } = Astro.props as TitleProps;
const { styles = "", RenderingIdentifier: id } = params;

const { page } = useSitecore();
const isEditing = page?.mode?.isEditing;

const datasource = fields?.data?.datasource || fields?.data?.contextItem;

type TextField = Field<string>;
const datasourceField = datasource?.field?.jsonValue as TextField;
const contextField = page?.layout?.sitecore?.route?.fields?.Title as TextField;
const titleField: TextField = datasourceField || contextField;

const link = {
  value: {
    href: datasource?.url?.path,
    title:
      (titleField?.value ? String(titleField.value) : undefined) ||
      datasource?.field?.jsonValue?.value,
  },
};
---

<div class={`component title ${styles}`.trim()} id={id}>
  <div class="component-content">
    <div class="field-title">
      {isEditing ? (
        <Text field={titleField} />
      ) : (
        <Link field={link}>
          <Text field={titleField} />
        </Link>
      )}
    </div>
  </div>
</div>
